doctype html
html
  head
    title SungKyunKwan University
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='javascript/script.js')
    link(rel='stylesheet', type='text/css', href='css/style.css')
  body
    #my_nav.navbar.navbar-light.navbar-expand-lg.fixed-top
      a.navbar-brand(href='#')
        img(src='image/logo.jpg', width='300', height='100')
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.title_list
            a.nav-link(href='#Science') Science
          li.nav-item.title_list
            a.nav-link(href='#Information') Information and Communication Engineering
          li.nav-item.title_list
            a.nav-link(href='#Software') Software
          li.nav-item.title_list
            a.nav-link(href='#Engineering') Engineering
          li.nav-item.title_list
            a.nav-link(href='#Pharmacy') Pharmacy
          li.nav-item.title_list
            a.nav-link(href='#Biotechnology')  Biotechnology and Bioengineering
          li.nav-item.title_list
            a.nav-link(href='#Sport') Sport Science
          li.nav-item.title_list
            a.nav-link(href='#Medicine') Medicine
          li.nav-item.title_list
            a.nav-link(href='#Convergence') Convergence
      a.nav-link(href='#')
    #register_popup.fixed-bottom.bg-white
      if signin != 'yes'
        form(id = "SigninForm" role="form" method="POST")
          p
            | Student Id 
            input#newid(type='text', name='newid')
          p
            | Password 
            input#newpassword(type='password', name = 'newpassword')
          p
            | Name 
            input#newname(type = 'text', name = 'newname')
          p
            | Birth 
            input#newbirth(type = 'text', name = 'newbirth')
          p
            | Department 
            input#newdepartment(type = 'text', name = 'newdepartment')
          button#RegisterBtn.btn.btn-light(type='button') Register



    #login_popup.fixed-bottom.bg-white
      if signin != 'yes'
        form(id = "LoginForm" role="form" method="POST")
          p
            | ID
            input#myid(type='text', name='id')
          p
            | PASSWORD
            input#pass(type='password', name='password')
          button#LoginBtn.btn.btn-light(type='button') Login


    #my_buttonNav.navbar.navbar-light.navbar-expand-lg.fixed-bottom
      .nav-item
        button.btn.btn-light(type='button', onclick="hideNavi('my_nav')") Hide/Show Navigation Bar
      .nav-item
        button.btn.btn-light(type='button', onclick="changeTableStyle('my_table')") White/Black Table Style
      
      if signin != 'yes'
        .nav-item
          button#register.btn.btn-info.btn-lg(type='button', style='position: absolute; right: 100px; bottom:10px;') Sign Up
        .nav-item
          button#login.btn.btn-success.btn-lg(type='button', style='position: absolute; right: 10px; bottom:10px;') Login
      else if signin == 'yes'
        p
          | User : #{student_id}
        button#LogoutBtn.btn.btn-warning.btn-lg(type='button', style='position: absolute; right: 10px; bottom:10px;') Logout
        button#GLSBtn.btn.btn-info.btn-lg(type='button', style='position:absolute; right: 120px; bottom:10px;') GLS

    h1 Academics
    h2.text-center.text-uppercase Colleges&Schools
    #my_list_table.list-group
      a.lead.list-group-item.list-group-item-action.list-group-item-success.text-center(href='/human')
        b Humanities and Social Sciences Campus
      a.lead.list-group-item.list-group-item-action.list-group-item-info.text-center(href='/natural')
        b Natural Sciences Campus
    h4#College College of Science
    p.lead
      | Sungkyunkwan University College of Science is one of the fastest growing universities in the field of basic science in Korea. The College of Science is attempting a special educational program to adopt innovative and original teaching methods to cultivate excellent scientific talents and produce global scientists in basic science.
    #my_table_0
      table.table.table-striped.table-hover
        tbody
          tr
            td  - Biological Sciences 
          tr
            td  - Mathematics 
          tr
            td  - Physicse 
          tr
            td  - Chemistry 
    h4#Information College of Information and Communication Engineering
    p.lead
      | To respond to the ever-changing needs in national informatization and the ICT industry, the College of Information and Communication Engineering runs various research and educational programs to foster and develop ICT professionals, leveraging its outstanding faculty and state-of-the-art facility.
    #my_table_1
      table.table.table-striped.table-hover
        tbody
          tr
            td  - Electronic and Electrical Engineering 
          tr
            td  - Semiconductor Systems Engineering 
    h4#Software College of Software
    p.lead
      | The College of Software has outstanding faculty and state-of-the-art facility as well as equipment for hands-on experience, which is used for the best-in-class education and research in Korea. In addition to education on basic science and engineering, which serve as the foundation for Software, Industry-University programs are offered to improve application capability and job skills. Also, international programs are in place to provide the aspiring students with the opportunity to become creative global leaders.
    #my_table_2
      table.table.table-striped.table-hover
        tbody
          tr
            td  - Software 
    h4#Engineering College of Engineering
    p.lead
      | The Mission of the College of Engineering is to expand education as well as research programs in a complementary approach. In this manner, we aim to respond to the demands of society and the ever changing pace of technology in the knowledge and information era. With a wide range of research activities maintained in the engineering college, department and the associated research institutes in areas of applied science, we believe we are uniquely capable of providing such services.
    #my_table_3
      table.table.table-striped.table-hover
        tbody
          tr
            td  - Chemical Engineering 
          tr
            td  - Advanced Materials Science and Engineering 
          tr
            td  - Mechanical Engineering 
          tr
            td  - Civil, Architectural Engineering and Landscape Architecture 
          tr
            td  - Systems Management Engineering 
          tr
            td  - Architecture
    h4#Pharmacy School of Pharmacy
    #my_table_4
      table.table.table-striped.table-hover
        tbody
          tr
            td  - Pharmacy 
    h4#Biotechnology College of Biotechnology and Bioengineering
    p.lead
      | Bioengineering technology (BT) in the 21st century is an important field of national growth engines along with IT and nanotechnology (NT). College of Biotechnology and Bioengineering has educational programs that can train students combining BT, IT, and NT within its faculty. The 600-year history of Sungkyunkwan University College of Biotechnology and Bioengineering aims to foster global leaders with creativity and initiative based on the educational ideology of the academic community.
    #my_table_5
      table.table.table-striped.table-hover
        tbody
          tr
            td  - Food Science and Biotechnology 
          tr
            td  - Bio-Mechatronic Engineering 
          tr
            td  - Department of Integrative Biotechnology 
    h4#Sport College of Sport Science  
    p.lead
      | The College of Sport Science aims to foster future talent who can actively cope with rapidly changing social and personal living conditions. Under the belief that a healthy society can be realized by a healthy body and a people with a healthy mind, the college has goals to grow future sports leaders, focusing on wisdom, virtue and healthy body.
    #my_table_6
      table.table.table-striped.table-hover
        tbody
          tr
            td  - Sport Science 
    h4#Medicine School of Medicine
    p.lead
      | School of Medicine was established in 1997. The school aims to educate doctors who can provide best treatment for the patients, design creative research projects, and serve the community with social responsibility. The School of Medicine provides students with 1 on 1 intensive learning environment along with the state-of-the-art clinical training facilities. Top-tier faculty members and training hospitals enables students to become competent medical scientists in the era of artificial intelligence. Despite its short history, SKKU School of Medicine now stands as the one of the top medical schools in Korea, and aims to become one of the leading medical schools in the world.
    #my_table_7
      table.table.table-striped.table-hover
        tbody
          tr
            td  - Medicine 
    h4#Convergence SKKU Institute for Convergence
    #my_table_8
      table.table.table-striped.table-hover
        tbody
          tr
            td  - Biomedical Engineering 
